@import url("https://fonts.googleapis.com/css2?family=Noticia+Text&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noticia Text", serif; }

html {
  font-size: 14px;
  height: 100%; }

body {
  height: 100%;
  min-width: 320px;
  display: grid;
  grid-template-rows: auto 1fr auto;
  background: #eae5e5; }

header,
main,
footer {
  padding: 1rem; }

button:focus {
  outline: none; }

p {
  font-family: "Roboto", sans-serif; }

header {
  display: flex; }
  header .header__title .header__name {
    font-family: "Noticia Text Bold", serif;
    font-size: 2rem; }
  header .header__title .header__job {
    font-size: 1rem;
    opacity: 0.8; }
  header .header__nav-btn {
    width: 4em;
    height: 4em;
    margin-left: auto;
    border: none;
    border-radius: 5px;
    background: #4d4d4d;
    transition: all 0.5s ease-in-out;
    z-index: 2; }
    header .header__nav-btn i {
      font-size: 1.5em;
      color: white; }
      header .header__nav-btn i.fa-bars {
        display: inline; }
      header .header__nav-btn i.fa-times {
        display: none; }
    header .header__nav-btn.is-active {
      background: none; }
      header .header__nav-btn.is-active i.fa-bars {
        display: none; }
      header .header__nav-btn.is-active i.fa-times {
        display: inline; }
      header .header__nav-btn.is-active ~ nav {
        z-index: 1; }
        header .header__nav-btn.is-active ~ nav ul {
          opacity: 1; }
  header .header__nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; }
    header .header__nav ul {
      height: 100%;
      padding: 8rem 1rem;
      opacity: 0;
      list-style: none;
      background: #4d4d4d;
      transition: all 0.5s ease-in-out; }
      header .header__nav ul li {
        width: 60%;
        margin: 0.8em auto;
        padding-bottom: 0.8em;
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        border-bottom: 1px solid white; }
        header .header__nav ul li a {
          color: white;
          font-size: initial;
          text-decoration: none; }
          header .header__nav ul li a.is-active {
            color: #e94956; }

main {
  max-width: 1024px;
  margin: 0 auto; }
  main section {
    margin-bottom: 1.2rem; }
  main .main__page-title {
    font-size: 3rem; }
  main.home .home__greeting .greeting__hello {
    font-size: 3rem;
    font-weight: 800; }
  main.home .home__greeting .greeting__text {
    font-size: 2rem; }
  main.home .home__circle-group {
    display: flex;
    justify-content: center;
    gap: 1em; }
    main.home .home__circle-group .circle-group__link {
      text-align: center;
      text-transform: uppercase;
      font-family: "Roboto", serif;
      color: white;
      font-size: small;
      text-decoration: none;
      width: 85px;
      height: 85px;
      background: none;
      border-radius: 100%;
      display: flex;
      justify-content: center;
      align-items: center; }
      main.home .home__circle-group .circle-group__link.circle-group__link--pink {
        background: #e94956;
        transition: all 0.5s ease-in-out; }
        main.home .home__circle-group .circle-group__link.circle-group__link--pink:hover {
          background: #89111a; }
      main.home .home__circle-group .circle-group__link.circle-group__link--blue {
        background: #61d0d4;
        transition: all 0.5s ease-in-out; }
        main.home .home__circle-group .circle-group__link.circle-group__link--blue:hover {
          background: #21787b; }
      main.home .home__circle-group .circle-group__link.circle-group__link--yellow {
        background: #d1c927;
        transition: all 0.5s ease-in-out; }
        main.home .home__circle-group .circle-group__link.circle-group__link--yellow:hover {
          background: #504d0f; }
  main.home .home__avatar .avatar__container {
    width: 300px;
    margin: 0 auto; }
    main.home .home__avatar .avatar__container img {
      width: 100%;
      border-radius: 100%; }
  main.home .home__introduction .introduction_paragraph {
    font-family: "Roboto", sans-serif;
    line-height: 1.5em; }
  main.resume section {
    margin: 1rem 0; }
    main.resume section.resume__section {
      border-top: 1px solid black; }
  main.resume .resume__info {
    margin: 1rem 0;
    color: white;
    text-align: center;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    background: #e94956;
    border-radius: 100%; }
  main.resume .resume__job {
    margin-top: 1.5rem;
    font-weight: bold; }
  main.resume .resume__time {
    font-family: "Roboto", sans-serif; }
  main.resume .resume__detail {
    margin-top: 0.2rem; }
  main.resume .resume__soft-skill {
    display: flex;
    justify-content: space-between; }
    main.resume .resume__soft-skill .resume__language,
    main.resume .resume__soft-skill .resume__skill {
      width: 45%; }
    main.resume .resume__soft-skill .resume__icon {
      color: white;
      font-size: 1.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 45px;
      height: 45px;
      background: #61d0d4;
      border-radius: 100%; }
    main.resume .resume__soft-skill .resume__info--small {
      font-size: 1.1rem;
      margin: 0.8rem 0 1rem 0;
      padding-bottom: 1rem;
      border-bottom: 1px solid black; }
    main.resume .resume__soft-skill ul {
      list-style: none; }
      main.resume .resume__soft-skill ul li {
        font-family: "Roboto", sans-serif;
        line-height: 1.5rem; }
  main.projects .projects__item {
    margin: 1.5rem 0;
    padding-top: 1rem;
    border-top: 1px solid black; }
    main.projects .projects__item .projects__img img {
      width: 100%; }
    main.projects .projects__item .projects__info {
      display: flex;
      align-items: center;
      padding-top: 1rem;
      flex-wrap: wrap; }
      main.projects .projects__item .projects__info .projects__no {
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 85px;
        height: 85px;
        background: #61d0d4;
        border-radius: 100%; }
      main.projects .projects__item .projects__info .projects__title {
        font-weight: bold;
        font-size: 1.2rem;
        margin-left: 1rem; }
      main.projects .projects__item .projects__info .projects__description {
        width: 100%;
        margin-top: 1rem; }
  main.contact {
    margin-bottom: 1.5rem; }
    main.contact .contact__info {
      margin-top: 1rem; }
    main.contact .contact__social {
      display: flex; }
      main.contact .contact__social a {
        margin-right: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: inherit;
        text-decoration: none;
        width: 45px;
        height: 45px;
        background: black;
        border-radius: 100%; }
        main.contact .contact__social a i {
          font-size: 1.5rem; }
    main.contact .contact__form legend {
      margin-bottom: 0.5rem; }
    main.contact .contact__form input,
    main.contact .contact__form textarea {
      width: 100%;
      margin-top: 0.3rem;
      border: 0;
      background: #e94956;
      color: white;
      padding-left: 0.5rem;
      font-size: 1rem;
      font-family: "Roboto", sans-serif; }
      main.contact .contact__form input::placeholder,
      main.contact .contact__form textarea::placeholder {
        color: white; }
    main.contact .contact__form input {
      height: 30px; }
    main.contact .contact__form textarea {
      resize: none; }
    main.contact .contact__form button[type="submit"] {
      cursor: pointer;
      float: right;
      padding: 0.5rem 1rem;
      color: #e94956;
      background: #61d0d4;
      border: none;
      font-size: 1rem; }
      main.contact .contact__form button[type="submit"]:hover {
        background: #2c9fa3; }

footer {
  background: #e94956;
  display: flex;
  flex-wrap: wrap;
  width: 100%; }
  footer section.footer__item {
    width: 100%;
    display: flex;
    margin-bottom: 1.5em;
    height: 50px; }
    footer section.footer__item:last-child {
      margin-bottom: 0; }
    footer section.footer__item .footer__icon {
      color: #e94956;
      font-size: 1.5em;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50px;
      height: 100%;
      background: #61d0d4;
      border-radius: 100%; }
    footer section.footer__item .footer__info {
      margin-left: 1em;
      color: white; }
      footer section.footer__item .footer__info div:first-child {
        font-size: 1.1em;
        font-weight: bold; }
      footer section.footer__item .footer__info a {
        margin-right: 0.5em;
        color: white;
        font-size: 1.5em;
        text-decoration: none; }

@media screen and (min-width: 320px) {
  html {
    font-size: 16px; } }

@media screen and (min-width: 640px) {
  main.resume .resume__section {
    display: grid;
    grid-template-columns: 0.5fr 1.5fr;
    align-items: center; }
    main.resume .resume__section section,
    main.resume .resume__section .resume__detail {
      grid-column: 2 / span 1; }
    main.resume .resume__section .resume__job {
      margin-top: 0.5rem; }
  footer section.footer__item {
    margin-bottom: 0;
    width: 50%; }
    footer section.footer__item:first-child {
      margin-bottom: 1.5em; } }

@media screen and (min-width: 768px) {
  header .header__nav-btn {
    display: none; }
  header .header__nav {
    position: relative;
    width: auto;
    height: auto;
    margin-left: auto;
    z-index: 1; }
    header .header__nav ul {
      display: flex;
      align-items: center;
      padding: 0;
      opacity: 1;
      background: none; }
      header .header__nav ul li {
        border: none;
        padding: 0;
        margin-right: 1em; }
        header .header__nav ul li a {
          color: black;
          font-size: 0.8em; }
          header .header__nav ul li a.is-active {
            color: #61d0d4; }
  main.home {
    display: grid;
    grid-template-columns: 1fr 1fr; }
    main.home .home__avatar {
      order: 1;
      grid-row: 1 / span 3;
      align-self: center; }
      main.home .home__avatar .avatar__container {
        width: 325px; }
    main.home .home__greeting {
      order: 2;
      grid-column: 2 / span 1; }
    main.home .home__circle-group {
      order: 3;
      grid-column: 2 / span 1; }
      main.home .home__circle-group .circle-group__link {
        width: 100px;
        height: 100px; }
    main.home .home__introduction {
      order: 4;
      grid-column: 2 / span 1; }
  main.resume {
    display: grid;
    grid-template-columns: 1.5fr 0.5fr;
    grid-template-rows: 1fr; }
    main.resume .main__page-title {
      grid-column: 1 / span 2; }
    main.resume .resume__profession {
      grid-column: 1 / span 1; }
    main.resume .resume__experience {
      grid-column: 1 / span 1; }
    main.resume .resume__education {
      grid-column: 1 / span 1; }
    main.resume .resume__soft-skill {
      grid-column: 2 / span 1;
      grid-row: 2 / span 2;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start; }
      main.resume .resume__soft-skill .resume__language,
      main.resume .resume__soft-skill .resume__skill {
        width: 60%; }
  main.projects .projects__item {
    display: grid;
    grid-template-columns: 0.8fr 1.2fr;
    grid-template-rows: 1fr;
    grid-gap: 2rem; }
    main.projects .projects__item .projects__img {
      grid-column: 1 / span 1; }
    main.projects .projects__item .projects__info {
      grid-column: 2 / span 1;
      grid-row: 1 / span 1;
      padding-top: 0; }
  main.contact {
    display: grid;
    grid-template-columns: 0.8fr 1.2fr; }
    main.contact .main__page-title {
      grid-column: 1 / span 2; } }

@media screen and (min-width: 1024px) {
  main.home .home__circle-group .circle-group__link {
    width: 120px;
    height: 120px; }
  footer section.footer__item {
    width: 25%; }
    footer section.footer__item:first-child {
      margin-bottom: 0; } }
